* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body.light{
    background-color: #967da8b7;
    display: flex;
    flex-direction: column;
}

body.dark{
    background-color: #201f21f7;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #6b4c7bf7;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: monospace;
    box-shadow: inset 0 0 15px rgba(135, 135, 135, 0.388), 0 0 8px 3px rgba(0, 0, 0, 0.485);
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header h1{
    padding-right: 0;
    margin-right: 0;
    min-width: 5vw;
    font-size: 1.4em;
}
header p{
    align-self: flex-end;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

/* Theme Selector Style */

.themeSelectorBtn{

    width: 30px;
    height: 30px;
    border-radius: 10px;
    align-self: flex-start;
}

.themeSelectorBtn:hover{
    background-color: #3a2e41ee;
}

.themeSelectorBtn.on{
    display: none;
}

#themeSelector{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}
 

/* Nav Style */



.navigation{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}



.navigation ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
    padding: 5px;
    width : 100%;
    height: 3em;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}




.navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.0em;
    padding: 5px 10px;
    
}

.navigation ul li a.icon{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 5px 5px;
    
}


.navigation ul li:hover{
    text-decoration: none;
    background-color: #3f2a498e;
    border-radius: 5px;
    color: white;
}

@media(max-width:768px){
    .navigation ul li a.label{
        display: none;
    }
    .navigation ul li{
        align-self: center;
        margin: 0;
        font-size: 20px;
}
}


/* Main Style */

main{
    padding: 10px;
    margin-top: 80px;
}

.appPage h2{
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}

.appPage p{
    text-align: center;
    margin-bottom: 20px;
}

/* Dashboard Style */


#dashboardPage{
    padding-bottom: 70px;
}


.dashboardCards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
}

.dashboardCard{
   
    margin-top: 25px;
    padding: 15px;
    width: 45vw;
    min-width: 300px;
    min-height: 32vh;
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #6b4c7bde;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
    backdrop-filter: blur(3px);
    
}

.tasksPrev ul{
    display: flex;
    flex-direction: column;
    flex-basis: 50vh;
    flex-wrap: nowrap;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    max-height: 23vh;
    overflow: hidden;
}

.tasksPrev ul li{
    display: flex;
    flex-direction: row;
    background-color: #7f708746;
    align-self: center;
    font-size: 0.8em;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 10px;
    align-items: space-between;
    box-shadow: inset 0 0 5px rgba(135, 135, 135, 0.388), 0 0 3px 1px rgba(0, 0, 0, 0.347);
    backdrop-filter: blur(3px);
}


.tasksPrev ul li button{
    padding: 5px 10px;
    font-size: 1em;
    background-color: #6b4c7b;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
.tasksPrev ul li button:hover{
    background-color: #2d2232e6;
}

#meteoHeader{
    padding-top: 4vh;
    justify-self: center;
    margin: auto;
}

#dashboardMeteoLocation{
    font-size: 1.2em;
    color: #dddade;
}

#dashboardMeteoIcon{
    width: 100px;
}

#dashCurrentTemp{
    font-size: 1.1em;
    color: #dddade;
    margin-top: 10px;
}

.dashMeteoAlerts{
     text-align: center;
    margin: auto;
    margin-top: 10px;
    color: whitesmoke;
    border: 1px solid rgb(174, 7, 7);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(174, 7, 7, 0.52);
}

#diaryPrev{
    display: flex;
    flex-direction: column;
    max-height: 210px;
    overflow: hidden;
}

#diaryPrevHead{
    display: flex;
    padding: 10px 30px 10px 10px;
    justify-content: space-between;

    margin-top: 10px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

#diaryPrevHead :last-child{
    display: none;
}


#diaryPrevTableBody > .dashPageItem{
    margin-top: 10px;
    max-height: 50px;
}

#diaryPrevTableBody > .dashPageItem > .delete{
    display: none;
}




/* sections general Style */

.pageCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #583663ae;
    margin-top: 10px;
    padding: 15px;
    width: 90vw;
    min-width: 280px;
    min-height: 60vh;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(135, 135, 135, 0.388), 0 0 18px 3px rgba(0, 0, 0, 0.347);
    
}

.pageCard ul{
    flex-basis: 50vh;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    margin-top: 10px;
}

.pageCard ul li{
    margin: 10px auto;
    padding: 10px;
    background-color: #7f708746;
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    box-shadow: inset 0 0 10px rgba(135, 135, 135, 0.388), 0 0 10px 3px rgba(0, 0, 0, 0.347);
    backdrop-filter: blur(3px);
}

.pageCard ul li button{
    align-self: center;
}
.pageCard button{
    align-self: flex-end;
    justify-self: center;
    margin: 20px auto 0 auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
.pageCard button:hover{
    background-color: #2d2232e6;
}

.pageTitle.dark{
    color: whitesmoke;
}



/* Tasks Page specific Style  */


#taskHeader{
    font-size: 1.4em;
}

.taskItem{
    display: flex;
    align-items: center;
    min-height: 7vh;
    justify-content: space-between;

}

.taskItem.completed{
    background-color: rgba(162, 160, 160, 0.566);
    color: rgba(82, 81, 81, 0.937);
}

.taskItem:hover{
    align-items: center;
    overflow: hidden;
}
.taskItem button{
    margin: 0;
    height: 4vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #noTask{
    background-color: rgba(169, 20, 20, 0.289);
    color: #ddd4e1;
    margin: 20px 20px 0px 20px;
    font-size: 16px;
    text-align: left;
    border: 0.5px solid rgba(66, 65, 65, 0.567);
    border-radius: 10px;

}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #94739fcf;
    padding: 20px 20px 30px 20px;
    min-width: 150px;
    max-width: 400px;
    min-height: 10vh;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 15px rgba(135, 135, 135, 0.388), 0 0 18px 3px rgba(0, 0, 0, 0.347);
    backdrop-filter: blur(3px);
}

#closeTaskForm{
    align-self: flex-end;
    width: 30px;
    margin-top: 0px;
    min-height: 1vh;
    background-color: #6b4c7b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}


.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    height: 100%;
}


.form input{
    min-height: 4vh;
    min-width: 100px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #6b4c7b;
    color: #6b4c7b;
    font-size: 16px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

.form input:focus{
    outline: none;
    
}

.form textarea{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #6b4c7b;
    color: #6b4c7b;
    font-size: 16px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

.form textarea:focus{
    outline: none;
}

.form button{
    margin-top: 0px;
    min-height: 4vh;
    border-radius: 0px 5px 5px 0;
    background-color: #6b4c7b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

.form button:hover{
    background-color: #583f64;
}



#closeModifyForm{
    align-self: flex-end;
    width: 30px;
    margin-top: 0px;
    min-height: 1vh;
    background-color: #6b4c7b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}



#toDoList{
    max-height: 500px;
    overflow-y: scroll;
}




/* Meteo Page specific Style*/

#meteoView{
    display:flex;
    justify-content: center; 
       min-height: 70vh;
       margin-bottom: 10vh;
}

#meteoSearch{
    display: flex;
    align-self: center;
    margin: 0px;
    gap: 0px;

}

#cityName{
    min-height: 4vh;
    min-width: 30vw;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid ghostwhite;
    color: black;
    font-size: 16px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);

}

#cityName:focus{
    outline: none;
    
}

#meteoSearchBtn{
    margin-top: 0px;
    min-height: 4vh;
    border-radius: 0px 5px 5px 0;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

#currentLocation{
    text-align: center;
    list-style: none;
    font-size: 1.4em;
    padding: 0;
    color: #ddd4e1;
}

#currentTemp{
    font-size: 18px;
    color: #ddd4e1;
    margin-top: 10px;
}

.meteoAlerts{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: whitesmoke;
    border: 1px solid rgb(174, 7, 7);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(174, 7, 7, 0.52);
}


.meteoCards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}

.meteoCard{
    background-color: #d9b3e635;
    margin-top: 25px;
    padding: 10px;
    flex-grow: 1;
    min-width: 270px;
    min-height: 40vh;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
    backdrop-filter: blur(3px);
    
}

#meteoHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    font-size: 1.2em;
}
#nowIcon{
    margin: 0;
    width: 60px;
    
    
}

.fetchingMeteo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #d9b3e6;
    margin-top: 30vh;
    width: 40vw;
    min-width: 240px;
    padding-inline: 10px;
    min-height: 8vh;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    
}

.fetchingMeteo ul{
    margin-top: 20px;
    list-style: none;
}


/* Diary specific style */

#diaryView{
    display: flex;
    justify-content: space-between;

}

 .addDiaryPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #94739fcf;
    padding: 10px 10px 20px 10px;
    min-width: 150px;
    max-width: 700px;
    width: 80%;
    min-height: 40vh;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 15px rgba(135, 135, 135, 0.388), 0 0 18px 3px rgba(0, 0, 0, 0.347);
    backdrop-filter: blur(3px);
 }

 #closeDiaryForm{
    align-self: flex-end;
    justify-self: flex-start;
    width: 30px;
    margin-top: 0px;
    min-height: 1vh;
    background-color: #6b4c7b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#addDiaryPageForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.addDiaryPageForm input{
    align-self: flex-start;
    min-height: 4vh;
    width: 100%;
    min-width: 80px;
    max-width: 200px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid #6b4c7b;
    color: #6b4c7b;
    font-size: 16px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

.addDiaryPageForm input:focus{
    outline: none;
    
}

.addDiaryPageForm button{
    margin-top: 0px;
    min-height: 4vh;
    max-width: 150px;
    align-self: center;
    border-radius: 5px;
    background-color: #6b4c7b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

/* modify form style */

.modifyDiaryPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #94739fcf;
    padding: 10px 10px 20px 10px;
    min-width: 150px;
    max-width: 700px;
    width: 80%;
    min-height: 40vh;
    border: 1px solid #6b4c7b;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 15px rgba(135, 135, 135, 0.388), 0 0 18px 3px rgba(0, 0, 0, 0.347);
    backdrop-filter: blur(3px);
 }

 #closeModifyDiaryForm{
    align-self: flex-end;
    justify-self: flex-start;
    width: 30px;
    margin-top: 0px;
    min-height: 1vh;
    background-color: #6b4c7b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#modifyDiaryPageForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.modifyDiaryPageForm input{
    align-self: flex-start;
    min-height: 4vh;
    width: 100%;
    min-width: 80px;
    max-width: 200px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid #6b4c7b;
    color: #6b4c7b;
    font-size: 16px;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}

.modifyDiaryPageForm input:focus{
    outline: none;
    
}

.modifyDiaryPageForm button{
    margin-top: 0px;
    min-height: 4vh;
    max-width: 150px;
    align-self: center;
    border-radius: 5px;
    background-color: #6b4c7b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px  rgba(81, 81, 81, 0.658);
}
 /* end modify form style */


.noPageAlert{
    background-color: rgba(169, 20, 20, 0.289);
    color: #ddd4e1;
    margin: 20px 20px 0px 20px;
    font-size: 16px;
    border: 0.5px solid rgba(66, 65, 65, 0.567);
    border-radius: 10px;
}
.noPageAlert > p{
    margin: 0px;
    padding: 20px 10px 20px 10px;
    text-align: start;
}

#noPageAlert{
    margin-bottom: 20em;
}

#diaryDisplay{
    display: flex;
    flex-direction: column;
    max-height: 500px;
}

#diaryTableHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

#diaryTableBody{
    overflow-y: scroll;
}
.pageItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    gap: 60px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.pageItem td{
    align-self: center;
    width: 120px;
    max-height: 45px;
    overflow-y: hidden;
    word-break: break-word;
}

#delTd{
    display: flex;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    justify-self: flex-end;
}

#delTd > button{
    justify-self: center;
    align-self: center;
    margin: 0px 0px;
    padding: 10px;
}

@media (max-height: 816px) {
    #diaryDisplay{
        display: flex;
        flex-direction: column;
        max-height: 350px;
    }
}

@media (max-width: 620px) {
    #pageHeadText{
        display: none;
    }
    #pageText{
        display: none;
    }
    #pageHeadDel{
        display: none;
    }
    #delTd{
        display: none;
    }
    .pageItem{
    display: flex;
    margin-bottom: 10px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    }
    .pageItem td{
    align-self: center;
    width: 80px;
    max-height: 45px;
    overflow-y: hidden;
    word-break: break-word;
    }
}

/* Footer style */

footer{
    text-align: center;
    padding: 5px;
    background-color: #5c4169c9;
    border-radius: 5px 5px 0 0;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: inset 0 0 15px rgba(135, 135, 135, 0.388), 0 0 8px 3px rgba(0, 0, 0, 0.485);
    backdrop-filter: blur(3px);
    z-index: 1000;
}





/* General Style */

#diaryDisplay.off{
    display:none;
}

#diaryPrev.off{
    display: none;
}


.off{
    display: none;
}

@media(min-width:1024px){
    .offBtn{
    opacity: 0%;
    }
}


.blur{
    opacity: 60%;
    z-index: -1;
}

h2.pageTitle{
    font-size: 1.4em;
}

h3{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    padding: 0;
    color: rgb(174, 7, 7);
}

h5{
    margin-bottom: 5px;
    color: #dddade;
}



